*{
    margin: 0;
}

.root,.root2{
    display: inline;
    height: 900px;
    width: 900px;
    background-color: red;
}


.section{
    position: relative;
    width: 100%;
}
.section h1{
    margin-top: 3em;
}
.section__block{
    position: absolute;
    top: 20;
    right: 0;
    height: 900px;
    width: 900px;
    background-color: green;
}

.section_title{
    display: inline;
}
.section_subtitle{
    display: inline-block;
    margin-left: 2em;


}

.section1__title{
    font-size: 4rem;
}