*{
    margin: 0;
}

.root{
    display: inline;
    height: 900px;
    width: 900px;
    background-color: red;
}
.root2{
    display: inline;
    height: 900px;
    width: 900px;
    background-color: blue;
}
